# =================================================================================================
# GENERAL
# =================================================================================================
# DEV | PROD
ENV=DEV

# =================================================================================================
# DOCKER COMPOSE
# =================================================================================================
SDK_PORTS_ENV=[8060:8060]
IS_EXTERNAL_OI_VOLUME=false


# =================================================================================================
# OPEN WEBUI (optional)
# =================================================================================================
GOOGLE_PSE_API_KEY=
GOOGLE_PSE_ENGINE_ID=

